body {
  margin-left: 30px;
}
#logo {
  height: 130px;
  padding: 20px;
}
h1 {
  padding: 30px;
    text-align: center;
}
#mediafb {
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 55px;
  margin-right: 10px;
}
#mediali {
  margin-top: 55px;
  margin-bottom: 55px;
  margin-right: 55px;
}
nav {
  background-color: teal;
}
ul li {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 2.5%;
}
#headshot {
  height: 250px;
  display: block;
  margin: auto;
  margin-top: 100px;
  border-radius: 125px;
}
ol li {
  padding-top: 5px;
}
#info {
  margin-top: 30px;
  margin-bottom: 30px;
}
.footlogo {
  height: 70px;
  margin: 5px;
  margin-left: 30px;
}
#foottext {
  font-size: 12px;
  text-align: right;
  margin-top: 25px;
  margin-right: 50px;
}
